@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gulzar&family=Mate+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Road+Rage&display=swap');
body {
     background-color: blueviolet;
     background-image: url("/public/assets/img/3433814.jpg");
     background-size: 200px;
     background-position: right;
     background-repeat: repeat;
}
.af {
     font-family: 'Gulzar', serif; 
}
.hf{
     font-family: 'Mate SC', serif;
}

.txt {
     font-size:14px;
}

.eventcardheader {
  
  /*   border-top-right-radius: 10px;
    border-top-left-radius: 10px; */
    background-color: brown;
    /* text-align: center; */
    color: white;
     padding: 5px;
    font-size: 12px;
    border-radius: 5px;
    padding-top: 8px;
}
.eventcardboy{
   /*   border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;  */
}

.title{
     text-align: center;
     margin-top: 20px;
     padding: 10px;
     font-size: 30px;
     font-family: 'Fredericka the Great', cursive;
     font-weight: bold;
     letter-spacing: 2px;
     font-style: italic;
     text-transform: uppercase;
  
}
.nav1 {
    
     height: 25px;
     width: 100%;
     background-image: url("/public/assets/img/19742.jpg");
    background-size: 300px;
     background-position: right;
     background-repeat: repeat;
     line-height: 35px;

     
    
   /*   border-bottom: 1px solid grey; */
    
}
.nav2 {
     background-color: rgb(172, 13, 13) ;
     height: 60px;
  
}
.sticky {
     position: fixed;
     top: 0;
     z-index: 1000;
     width: 100%;
   padding:10px;
     
   }
.logo {
  
     position: relative;
   display: inline-flex;
   transform: translateY(-20%);
   margin-top: 5px;
}
.logo  img {
     
   height: 50px;
   display: block;
   margin-top: -5px;
}
.logo span {
   
     color: rgb(218, 209, 209);
     font-size: 18px;
     font-weight: bolder;
     margin-left: 8px;
     margin-top: 5px;
     
}
.Sidelink {
     float: right;
     transform: translateY(-20%);
     
   
}
.Sidelink a {
     text-decoration: none;
     color: rgb(92, 51, 51);
    /*  background-color: rgb(250, 253, 255); */
     padding: 5px;
   
}

.Sidelink a:hover {
   
     color: rgb(165, 25, 25);
     padding: 5px;
    
   
   
}

.reveal{
     position: relative;
     transform: translateY(150px);
     opacity: 0;
     transition: 0.6s all ease;
   }
   .reveal.active{
     transform: translateY(0);
     opacity: 1;
   }

   .revealc {
     position: relative;
   /*   transform:rotateX(180deg); */
   opacity: 1;
    animation: tv 2s ease;
   }
  .revealc.active{
    /*  transform: rotateX(90deg);
     transform: rotateX(0); */
     
   } 

/*    @keyframes tv {
     0%{
          opacity: 0;
     }
     30% {
          transform: scaleX(10%);
          opacity: 0;
     }
     60% {
          transform: scaleX(120%);
     }
   
     100%{
          transform: rotateX(0);
          
     }
   }
 */

 @keyframes tv {
     0%{
          transform: rotateX(90deg);
          opacity: 0;
     }
     30% {
          transform: rotateX(90deg);
          opacity: 0.8;
        
         
     }
    
   
     100%{
          transform: rotateX(0);
          
     }
   }

.fs {
     font-size: 15px;
}
.c-img {
     text-align: center;
    
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 80%;
     height: 270px;
  
  /*  border-bottom: 10px solid rgba(119, 14, 14, 0.226); */
     image-resolution: 300dpi;
    
   
}
#c-inner{
     background-color:rgba(104, 13, 13, 0.116);
     padding: 30px;
     transition: 1s all ease;
 
}
.navs {
     margin-top: 10px;
     text-align: center;
     transform: translateY(-20%);
}
.navs a {
     text-decoration: none;
     font-family: 'Mate SC', serif;
     padding: 10px;
     color: rgb(218, 209, 209);
     
   
   
}
.navs a:hover {
     background-color: rgb(201, 10, 20);
     color: rgb(218, 209, 209);
}
iframe {
     width: 100%;
     height: 400px;
     padding: 20px;
   }
   .linespacer{
    
    
   }
   .border-right {
     border-right: 1px solid black;
   }
   .linespacer hr {
     color: rgb(245, 202, 11);
   }
   #videoconscontroller {
     background-color: transparent;
     border: none;
     outline: none;
   /*   height: 400px; */
   }
   #videocontroller{
   /*  background-color:  rgba(0,0,0,0.24); */
    border: none;
    outline: none;
    height: 400px;
   }
   .announcement_board {
     background-color:  rgba(230, 23, 23, 0.16);
     border-radius: 5px;
     padding: 10px;
   }
   .event_contents{
     height: 350px;
     overflow-x: hidden;
     overflow-y: scroll;
   }
   .announcement_content {
     padding: 5px;
     height: 350px;
     
     overflow-y: scroll;
   }
   #videocontents {
     height: 370px;
    overflow-y: scroll;
    overflow-x: hidden;
   }

   .overflow::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.overflow::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.overflow::-webkit-scrollbar-thumb {
  background: rgb(99, 14, 14);
  border-radius: 5px;
}

/* Handle on hover */
.overflow::-webkit-scrollbar-thumb:hover {
     background: rgb(99, 14, 14);
}

.overflow::-webkit-scrollbar {
     width: 10px;
   }

  
   .videocard {
     
     background: transparent;
    
   }
 
  .coordinators h6{

     text-align: center;
    font-size: 16px;
   font-weight:bolder;
    margin-top: 5px;

  }
  .coordinators img {
     width: 100%;
     height: auto;
  }
  .coordinators{
   
    transition: .4s all ease;
  }
  .coordinators:hover{
    transform: scale(120%);
  }

  #btnup{
     border: none;
     outline: none;
     background-color: rgba(0,0,0,0.34);
     position: fixed;
     right: 20px;
     bottom: 50px;
     padding: 10px 20px;
     color: rgb(150, 67, 67);
     
     border-radius: 5px;
     z-index: 40;
  }
  #btnup i {
     font-size: 20px;
  }
  
#btnup:hover{
     background-color:rgba(0,0,0,0.15) ;
}
.searchbar{
     padding: 10px;

}
.searchbar input {
   
     padding: 10px 20px 7px ;
     font-size: 18px;
     width: 50%;
     border-radius: 5px;
  border:none;
     outline: none;
     cursor: text;
     background-color: rgb(221, 212, 212);
     color: rgb(36, 28, 28);
     font-family: 'Gulzar', serif;
     text-shadow: 23cm;
    
     
}
.searchbar input:focus{
     background-color:rgb(213, 223, 228) ;
    box-shadow: 0 4px 10px rgba(0,0,0,0.24);
}
.searchbar button {
     padding: 8px;
     border-radius: 3px;
     border:1px solid rgb(125, 137, 189);
     outline:none;
     background-color: rgb(125, 137, 189);
     color:#fff;
     width: 100px;
     text-transform: uppercase;
     font-family: 'Mate SC', serif;
     
     text-align: center;
    
  
}
.searchbar button:hover {
     background-color: rgb(140, 153, 207);
     color: rgb(87, 24, 24);
} 
.searchbar button:focus {
     color: rgb(192, 192, 192);
}

  footer{
     position: relative;
     bottom: 0;
     width: 100%;
     height: 50px;
     background-color: rgb(240, 235, 235);
  }
  footer h6 {
  
     text-align: center;
     padding-top: 20px;
     font-size: 13px;
     font-family: 'Mate SC', serif;
     color: rgb(163, 27, 27);
     
  }
  #Options {
     position: absolute;
     right: 10px;
     top: 5px;
    
  }
  #Options button{
     border:none;
     outline: none;
     background-color: rgb(196, 187, 187);
     font-family: 'Mate SC', serif;
     padding: 10px;
     color: rgb(20, 13, 13);
     border-radius: 5px;
     border:2px solid maroon;
     transition: 0.5s all ease;
  }

  #Options button:hover{
     background-color:rgb(245, 228, 228); ;
  }


  



[type=radio] {
     display: none;
   }
   
   #slider {
     height: 35vw;
     position: relative;
     perspective: 1600px;
     transform-style: preserve-3d;
   }
   
   #slider label {
     margin: auto;
     width: 70%;
     height: 70vh;
     border-radius: 5px;
     position: absolute;
     left: 0; right: 0;
     cursor: pointer;
     transition: transform 0.4s ease;
   }
   
   #s1:checked ~ #slide4, #s2:checked ~ #slide5,
   #s3:checked ~ #slide1, #s4:checked ~ #slide2,
   #s5:checked ~ #slide3 {
     box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
     transform: translate3d(-30%,0,-200px);
   }
   
   #s1:checked ~ #slide5, #s2:checked ~ #slide1,
   #s3:checked ~ #slide2, #s4:checked ~ #slide3,
   #s5:checked ~ #slide4 {
     box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
     transform: translate3d(-15%,0,-100px);
   }
   
   #s1:checked ~ #slide1, #s2:checked ~ #slide2,
   #s3:checked ~ #slide3, #s4:checked ~ #slide4,
   #s5:checked ~ #slide5 {
     box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
     transform: translate3d(0,0,0);
   }
   
   #s1:checked ~ #slide2, #s2:checked ~ #slide3,
   #s3:checked ~ #slide4, #s4:checked ~ #slide5,
   #s5:checked ~ #slide1 {
     box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
     transform: translate3d(15%,0,-100px);
   }
   
   #s1:checked ~ #slide3, #s2:checked ~ #slide4,
   #s3:checked ~ #slide5, #s4:checked ~ #slide1,
   #s5:checked ~ #slide2 {
     box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
     transform: translate3d(30%,0,-200px);
   }
   
   #slide1 { background: #00BCD4 }
   #slide2 { background: #4CAF50 }
   #slide3 { background: #CDDC39 }
   #slide4 { background: #FFC107 }
   #slide5 { background: #FF5722 }


   .gallery {
     background: #EEE;
     position: relative;
     
   }
   
   .gallery-cell {
     position: absolute;
     width: 80%;
     height: 400px;
     margin-right: 10px;
     background:rgb(99, 14, 14);
     counter-increment: gallery-cell;
     z-index: 0;

     overflow-y: scroll;
   }

   .eventsearch{
     padding: 10px;
     border: none;
     outline: none;
     background-color: rgb(231, 219, 219);
     border-radius: 5px;
   }

   .btnjoin{
     padding:5px 10px;
     border:none;
     outline: none;
     border-radius: 5px;
     line-height: 20px;
     background-color: #fff;
     transition: 0.5s all ease;

   }
   .btnjoin:hover{
     background-color: rgb(39, 16, 16);
     color:white;
     border:1px solid white;
     transform: scale(120%);
   }

   .btnview{
     padding:2px 10px;
     border:none;
     outline: none;
     border-radius: 5px;
     line-height: 20px;
     font-size:12px;
     background-color: #fff;
     transition: 0.3s all ease;
   }
   .btnview:hover{
     background-color: rgb(158, 27, 27);
     color:white;
     
   }

   .validatetxt{
    padding: 10px;
    width: 100%;
    

    font-weight: bold;
   }

   .validatetxt:focus{
    background-color: #EEE;
   }

   .invalid {
    background-color: rgb(119, 17, 17);
   }

   input[type=number] {
    -moz-appearance: textfield;
  }
  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


  
   
